@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
#logo_link {
    padding-top: 5px;
}
nav a {
    text-align: center;
    color: gray;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
main section img {
    box-sizing: border-box;
}
#background {
    height: 725px;
}
body {
    background-color: lightcyan;
    font-family: "Kalam", sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}
header {
    background-color: lightgoldenrodyellow;
    font-family: "Kalam", sans-serif;
}
nav a:hover {
    background-color: lightcyan;
    color: darkgray;
}
.book, .join {
    background-color: lightcyan;
    color: gray;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: lightslategray;
    color: aliceblue;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid black;
}
#background {
    background-color: lightcyan;
}
.msg {
    background-color: skyblue;
    line-height: 1.5em;
    padding: 35px;
}
footer {
    background-color: skyblue;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
}
footer .social img {
    padding-top: 15px;
}
.home-title {
    color: black;
    font-family: "Kalam", sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: gray;
}
.msg h2 {
    color: black;
    font-family: "Kalam", sans-serif;
}
.msg p {
    color: gray;
    font-size: .8em;
    padding-bottom: 15px;
}
footer a {
    color: gray;
    text-decoration: none;
}
footer a:hover {
    color: aliceblue;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
footer p {
font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}