body {
    background-color: rgb(30, 30, 30);
    font-family: "Kalam", sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    text-align: center;
}
img {
    width: 100%;
}
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#READ {
grid-column: 1/2;
}
#VIEWS {
grid-column: 2/3;
}
#COMMENTS {
grid-column: 3/4;
}